<navbar selected-link="'analysis'"></navbar>
<ol class="breadcrumb">
  <li class="active">Analyzed Systems</li>
</ol>
<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <h3>Analyzed Systems</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Hypothesis Systems</h3>
      </div>
      <table class="table table-hover">
        <tr ng-repeat="tested in allTested">
          <td ng-class="{'true':'info', 'false':''}[selectedTested === tested]" ng-click="selectTested(tested)">
            <system-name system-index="tested" unlinked></system-name>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Reference Systems</h3>
      </div>
      <table class="table table-hover">
        <tr ng-repeat="goldStandard in goldStandards">
          <td ng-class="{'true':'info', 'false':''}[selectedGoldStandard === goldStandard]"
              ng-click="selectGoldStandard(goldStandard)">
            <system-name system-index="goldStandard" unlinked></system-name>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2">
    <p>
      <a class="btn btn-primary" ng-disabled="!selectedGoldStandard || !selectedTested"
         href="#/analysis-results?tested={{selectedTested}}&gold={{selectedGoldStandard}}" role="button">Go</a>
    </p>
  </div>
</div>

<div class="row" ng-if="isSecure">
  <div class="col-md-2 col-md-offset-2">
    <p>
      <a class="btn btn-primary" href="#/analysis-builder" role="button">Run new analysis</a>
    </p>
  </div>
</div>
