<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#/main" class="navbar-brand">NLP-TAB</a>
    </div>
    <ul class="nav navbar-nav">
      <li navbar-link="document-search"><a href="#/document-search">Documents</a></li>
      <li navbar-link="systems"><a href="#/type-systems">Type Systems</a></li>
      <li navbar-link="analysis"><a href="#/analysis">Type Systems Analysis</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://nlpie.github.io/">NLP/IE</a></li>
    </ul>
  </div>
</nav>
