<input type="text" class="form-control" placeholder="Filter types" ng-model="filter">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Types</h3>
  </div>

  <table class="table table-hover">
    <tr ng-repeat="type in types">
      <td ng-class="{'true':'info', 'false':''}[selectedTypeName === type.typeName]" ng-click="selectType(type)"
          class="ng-click-link">
        <type-name name="type.typeName" unlinked></type-name>
      </td>
    </tr>
  </table>
</div>
<div class="text-center">
  <uib-pagination ng-model="pagination.page" total-items="pagination.totalItems" items-per-page="pagination.itemsPerPage"
              max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"
              first-text="&laquo;" last-text="&raquo;"></uib-pagination>
</div>
